SET MARKUP HTML ON SPOOL ON PREFORMAT OFF ENTMAP ON -
HEAD "<TITLE>Rapport SQL Olvoyage</TITLE> -
<STYLE type='text/css'> -
<!-- BODY {background: #bfff80} --> -
</STYLE>" -
BODY "TEXT='#000000'" -
TABLE "WIDTH='90%' BORDER='4'"

SPOOL report_NN.html;

// REQUETE SQL

SPOOL OFF;
